@font-face {
	font-family: 'Avenir Next';
	font-weight: 400;
	src:
		url('/fonts/avenir-next-variable.woff2') format('woff2-variations'),
		url('/fonts/avenir-next-variable.woff2') format('woff2');
	font-display: swap;
}
