# dependencies
/node_modules

# production
build

# local env files
.env
.env.*
!.env.example

# public storybook folder
public/storybook

# local Netlify folder
.netlify

# Ignore intellij IDE config
/.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
[Tt]humbs.db
.DS_Store
.dccache
.cache
*storybook.log
