@keyframes fade-in-out {
	0%,
	100% {
		opacity: 0;
	}

	5%,
	95% {
		opacity: 1;
	}
}

.ctaWrapper {
	position: absolute;
	inset-block-start: 50%;
	inset-inline-end: calc(var(--base-spacing) * 1.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
}

.cta {
	--cta-outline-color: var(--foreground-color);
	--cta-text-color: var(--foreground-color);

	position: relative;
	inline-size: 4rem;
	block-size: 4rem;
	border: none;
	border-radius: calc(var(--base-spacing) / 2);
	color: var(--cta-text-color);
	outline: none;

	&:focus-visible {
		outline: 3px solid var(--cta-outline-color);
		outline-offset: 3px;
	}
}

.ctaDark {
	--cta-outline-color: #000;
	--cta-text-color: #000;
}

.ctaLight {
	--cta-outline-color: #fff;
	--cta-text-color: #fff;
}

.tooltip {
	--tooltip-bg-color: var(--foreground-color);
	--tooltip-fg-color: var(--background-color);

	position: absolute;
	inset-block-start: -40px;
	inset-inline-start: 50%;
	padding: calc(var(--base-spacing) / 2) var(--base-spacing);
	background-color: var(--tooltip-bg-color);
	color: var(--tooltip-fg-color);
	opacity: 0;
	transform: translateX(-50%);

	&::after {
		content: '';
		position: absolute;
		inset-block-start: 100%;
		inset-inline-start: 50%;
		inline-size: 0;
		block-size: 0;
		margin-inline-start: -5px;
		border: 5px solid transparent;
		border-block-start-color: var(--tooltip-bg-color);
		pointer-events: none;
	}
}

.tooltipDark {
	--tooltip-bg-color: #000;
	--tooltip-fg-color: #fff;
}

.tooltipLight {
	--tooltip-bg-color: #fff;
	--tooltip-fg-color: #000;
}

.tooltipFadeInOut {
	animation: fade-in-out 2s ease-in-out;
}
