@value containers: '../../../styles/modules/container.module.css';

.section {
  margin-block-end: calc(var(--base-spacing) * 4.5);
}

.container {
  --container: var(--container-max-width);

	composes: container from containers;
}

.select {
  max-inline-size: max-content;
}
