@value containers: '../../../styles/modules/container.module.css';

.section {
	margin-block-end: calc(var(--base-spacing) * 4.5);
}

.container {
	--container: var(--container-max-width);

	composes: container from containers;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 35rem), 1fr));
	gap: calc(var(--base-spacing) * 4.5);
}

.control {
	display: grid;
	gap: calc(var(--base-spacing) * 3);
}
