@value containers: '../../../styles/modules/container.module.css';
@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-medium from --breakpoints;

.header {
	padding-block: calc(var(--base-spacing) * 3);

	@media (width >= --bp-medium) {
		padding-block: calc(var(--base-spacing) * 6);
	}
}

.container {
	--container: var(--container-max-width);

	composes: container from containers;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--base-spacing) * 1.5);
	justify-content: space-between;
	align-items: center;

	@media (width >= --bp-medium) {
		gap: calc(var(--base-spacing) * 3);
	}
}

.title {
	--title-color: var(--foreground-color);

	color: var(--title-color);
}

.titleDark {
	--title-color: #000;
}

.titleLight {
	--title-color: #fff;
}

.meta {
	--gap: calc(var(--base-spacing) * 1.5);
	--min: min(100%, 15rem);
	--max: calc(50% - (var(--gap) / 2));

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--min), var(--max)));
	gap: var(--gap);
}
