.field {
  --field-color: var(--foreground-color);
}

.fieldDark {
  --field-color: #000;
}

.fieldLight {
  --field-color: #fff;
}

.label {
  display: inline-block;
  margin-block-end: calc(var(--base-spacing) * 1.5);
  color: var(--field-color);
}

.selectWrapper {
  position: relative;
}

.select {
  display: block;
  inline-size: 100%;
  padding-block: calc(var(--base-spacing) * 2);
  padding-inline: calc(var(--base-spacing) * 2) calc(var(--base-spacing) * 6);
  border-radius: calc(var(--base-spacing) / 2);
	border: 2px solid var(--field-color);
  color: var(--field-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: inherit;

  &:focus-visible {
    outline: 3px solid var(--field-color);
		outline-offset: 3px;
	}
}

.selectIcon {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: calc(var(--base-spacing) * 2);
  color: var(--field-color);
  transform: translateY(-50%);
}
