@value containers: '../../../styles/modules/container.module.css';
@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-medium from --breakpoints;

.header {
  padding-block: calc(var(--base-spacing) * 3);

  @media (width >= --bp-medium) {
    padding-block: calc(var(--base-spacing) * 6);
  }
}

.container {
  --container: var(--container-max-width);

	composes: container from containers;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--base-spacing) * 1.5);
  justify-content: space-between;
  align-items: center;
}

.title {
  @media (width >= --bp-medium) {
    flex: 1;
  }
}

.meta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), min(100%, 22.5rem)));
  gap: calc(var(--base-spacing) * 1.5);

  @media (width >= --bp-medium) {
    justify-content: end;
    flex: 1;
  }
}
